@font-face {
    font-family: MyWebFont;
    src: url(./fonts/circularstd-black-webfont.woff) format('woff2')
}
@font-face {
    font-family: MyWebFontThing;
    src: url(./fonts/circularstd-light-webfont.woff2) format('woff2');
}
html, body, #app {
    height: 100%;
    margin: 0;
    font-family: MyWebFont;
}

:root {
    --main-black: #191414;
    --main-green: #1ed760;
}

.loginRegisterPage {
    height: 100%;
}

.loginRegisterHeader {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.spotifyLogo {
    height: 50%;
    margin-top: 20px;
}
.bottomContainer {

    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
    
}

.input1 {
    gap: 12px;
    display: flex;
    flex-direction: column;
    width: 500px;
}


.loginButton {
    color: black;
    background-color: var(--main-green);
    font-weight: bolder;
    letter-spacing: .5px;
    border: none;
    height: 48px;
    width: 120px;
    border-radius: 500px;
}
.bottomContainer2 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.loginBox {
    display: flex;
    width: 650px;
    justify-content: space-around;
    
}
.checkBoxContainer {
    display: flex;
    align-items: center;
}
.checkBoxContainer span {
    font-weight:lighter;
}

.borderLogin {
    width: 500px;
    border-bottom: 2px solid lightgray;
    margin-top: 10px;
}

.bottomContainer3 {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottomContainer3 a {
    border: 1px solid lightgray;
    width: 80%;
    height: 50px;
    background-color: transparent;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: .2s;
    font-family: MyWebFontThing
}

.bottomContainer a:hover{
    transition: .2s linear;
    background-color:var(--main-green);
}

.input1 input {
    border: none;
    height: 80%;
    width: 90%;
    border-radius: 5px;
    font-size: 1.3em;
}

.input1 input:focus {
    border: none;
    outline: none;

}

.passwordBox {
    display: flex;
    padding: 5px;
    display: flex;
    width: 100%;
    border: 1px solid gray;
    height: 40px;
    border-radius: 5px;
    align-items: center;
}

.usernameBox {
    display: flex;
    padding: 5px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
    align-items: center;
}

.viewPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 47px;
}
.viewPasswordImage {
    height: 34px;
    width: 34px;
    cursor: pointer;
    transition: .2s;
}
.viewPasswordImage:hover {
    filter:drop-shadow(0 1px .01px black);
    transition: .2s;
}

/***************************************************************************************************************************************/

.accesPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%
}

.centerContainer button {
    background-color: var(--main-green);
    height: 90px;
    width: 300px;
    border-radius: 500px;
    font-size: 1.6em;
    transition: .3s;
    border: none
}
.centerContainer button:hover {
    background-color: #191414;
    color: var(--main-green);
}
/************************* PRFILE PAGE******************************/
.profilePage {
    height: 100%;
    background-color: var(--main-black);
}