@font-face {
    font-family: MyWebFont;
    src: url(./fonts/circularstd-black-webfont.woff) format('woff2')
}
@font-face {
    font-family: MyWebFontThing;
    src: url(./fonts/circularstd-light-webfont.woff2) format('woff2');
}
html, body, #app {
    height: 100%;
    margin: 0;
    font-family: MyWebFont;
}
#app {
    display: flex;
    flex-direction: column;
}
.app2 {
    margin: 0;
    display: flex;
    height: 92vh;
    width: 100%;
}
.playArea {
    background-color: rgba(0, 0, 0, 0.874);
    min-height: 104px;
    height: 104px;
    position: sticky;
    bottom: 0;
    border-top: 1px solid rgba(169, 169, 169, 0.534)
}
:root {
    --main-black: #121212;
    --main-green: #1ed760;
}

.loginRegisterPage {
    height: 100%;
}

.loginRegisterHeader {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.spotifyLogo {
    height: 50%;
    margin-top: 20px;
}
.bottomContainer {

    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
    
}

.input1 {
    gap: 12px;
    display: flex;
    flex-direction: column;
    width: 500px;
}


.loginButton {
    color: black;
    background-color: var(--main-green);
    font-weight: bolder;
    letter-spacing: .5px;
    border: none;
    height: 48px;
    width: 120px;
    border-radius: 500px;
}
.bottomContainer2 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.loginBox {
    display: flex;
    width: 650px;
    justify-content: space-around;
    
}
.checkBoxContainer {
    display: flex;
    align-items: center;
}
.checkBoxContainer span {
    font-weight:lighter;
}

.borderLogin {
    width: 500px;
    border-bottom: 2px solid lightgray;
    margin-top: 10px;
}

.bottomContainer3 {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottomContainer3 a {
    border: 1px solid lightgray;
    width: 80%;
    height: 50px;
    background-color: transparent;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: .2s;
    font-family: MyWebFontThing
}

.bottomContainer a:hover{
    transition: .2s linear;
    background-color:var(--main-green);
}

.input1 input {
    border: none;
    height: 80%;
    width: 90%;
    border-radius: 5px;
    font-size: 1.3em;
}

.input1 input:focus {
    border: none;
    outline: none;

}

.passwordBox {
    display: flex;
    padding: 5px;
    display: flex;
    width: 100%;
    border: 1px solid gray;
    height: 40px;
    border-radius: 5px;
    align-items: center;
}

.usernameBox {
    display: flex;
    padding: 5px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
    align-items: center;
}

.viewPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 47px;
}
.viewPasswordImage {
    height: 34px;
    width: 34px;
    cursor: pointer;
    transition: .2s;
}
.viewPasswordImage:hover {
    filter:drop-shadow(0 1px .01px black);
    transition: .2s;
}
.application {
    height: 100%;
}
/***************************************************************************************************************************************/

.accesPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%
}

.centerContainer button {
    background-color: var(--main-green);
    height: 90px;
    width: 300px;
    border-radius: 500px;
    font-size: 1.6em;
    transition: .3s;
    border: none
}
.centerContainer button:hover {
    background-color: #191414;
    color: var(--main-green);
}
/**************************************************** NAV *************************************/
.homeLogo {
    background-color: rgba(255, 255, 255, 0.838);
}
.navBar {
    position: relative;
    min-width: 350px;
    width: 350px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.789);
}
.topBar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 200px;
    margin-top: 25px;
}
.topBar a{
    transition: .5s;
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.687);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 50px;
}
.topBar a:hover {
    cursor: pointer;
    color: white;
    transition: .5s;
}
.container1Nav {
    display: flex;
    width: 90%;
    border-bottom: 1px solid gray;
}
.logo {
    width: 44px;
    height: 44px;
    filter: invert(1);
}


/************************* PRFILE PAGE******************************/
.profilePage {
    height: 100%;
    width: 100%;
    background-color: var(--main-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.topContainerProfile {
    color: white;
    width: 100%;
    height: 40%;
    background-color: rgba(169, 169, 169, 0.623);
    display: flex;
    align-items: center;
    gap: 50px;
}

.profilePicture {
    height: 300px;
    width: 300px;
    border-radius: 500px;
    box-shadow: 0 0 100px 0 black;
    margin-left: 50px;
}

.display_name {
    font-size: 10em;
    margin: 0;
}

.topArtistsContainer {
    width: 100%;
    color: white;
}

.artistsContainer {
    width: 100%;
    height: 350px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.artistsBox:first-child {
    margin-left: 20px;
}



.artistsImages {
    width: 170px;
    height: 170px;
    border-radius: 1000px;
} 

.artistsBox {
    height: 95%;
    min-width: 250px;
    width: 250px;
    background-image: linear-gradient(black, rgba(169, 169, 169, 0.179));
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.artistsBox:hover {
    background-color: rgba(169, 169, 169, 0.253);
    transition: .2s;
}

.artistsBox:hover > div > div > img{
    transition: .2s;    
    opacity: 1;
    width: 50px;
    height: 50px;
}

.artistNames {
    height: 20%;
    width: 85%;
    white-space: nowrap;
}
.artistNames h4 {
    font-family: MyWebFontThing;
    color: gray;
    margin: 0;

}

.artistNames h3 {
    margin-bottom: 0
}

.topTracksContainer {
    width: 100%;

}

.tracksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}
.indexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}
.indexBox h2 {
    margin: 0;
}
.trackBox {
    display: flex;
    width: 95%;
    height: 60px;
    gap: 20px;
    align-items: center;
    transition: .2s;
}

.trackBox:hover {
    background-color: rgba(169, 169, 169, 0.253);
    transition: .2s;
    border-radius: 10px;
}

.topTrackImg {
    width: 50px;
    height: 50px;
}

.trackNames {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 400px;
    width: 400px;
}
.trackNames h2 {
    margin: 0
}
.trackNames h4 {
    margin: 0;
    color: gray;
    font-family: MyWebFontThing;
}
.albumName h4 {
    margin: 0;
}
.albumName {
    margin-left: 400px;
    color: gray;
    font-family: MyWebFontThing;
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 300px;
    width: 400px
}
.songLength h4 {
    margin: 0;
    color: rgb(210, 207, 207);
    font-family: MyWebFontThing
}

.mainPlayerlistsContainer {
    height: 400px;
    width: 100%;

}
.playlistsContainer {
    width: 100%;
    height: 300px;
    display: flex;
    gap: 20px;

}

.playerlistBox {
    background-color: rgba(169, 169, 169, 0.179);
    height: 95%;
    min-width: 250px;
    width: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s;
}
.playerlistBox:hover {
    background-color: rgba(72, 0, 0, 0.585);
    transition: .2s;
}

.playerlistBox:first-child {
    margin-left: 20px;
}

.playlistsImage {
    width: 80%;
    height: 80%;
    background-color: gray;
}
.imageBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    height: 200px;
}
.playlistsNameBox {
    width: 80%;
    height: 80%;
}
.playerButtonBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-top: 20px;
}

.playButton {
    width: 0px;
    height: 0px;
    transition: .1s;
}

.playButton:hover {
    transition: .1s;
    transform: scale(1.2);
    cursor: pointer;
}

.trackBox:hover > div >img {
    width: 50px;
    height: 50px;
}

.trackBox:hover > div > .trackNum {
    opacity: 0;
}

/************************* PLAY AREA ***************************/
.playArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playBox {
    height: 80%
}

.playBox.one, .playBox.three {
    width: 28%
}

.playBox.two {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pauseButton.true {
    background-image: url(/images/pausebutton.png);
    background-repeat: no-repeat;
    width: 50px;
    height:  50px;
    background-position: center;
    border: none;
    background-color: transparent;
    filter: invert(1)
}
.pauseButton.false {
    background-image: url(/images/playbutton.png);
    background-repeat: no-repeat;
    width: 50px;
    height:  50px;
    background-position: center;
    border: none;
    background-color: transparent;
    filter: invert(1)
}
.forward{
    background-image: url(/images/forward.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 50px;
    height:  50px;
    filter: invert(.8);
    border: none;
    background-color: transparent;
}

.forward.Reverse{
    transform: scaleX(-1)
}

.shuffleButton {
    background-image: url(/images/shuffle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 50px;
    height:  50px;
    filter: invert(.8);
    border: none;
    background-color: transparent;
}

.repeatButton {
    background-image: url(/images/repeat.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 50px;
    height:  50px;
    filter: invert(.8);
    border: none;
    background-color: transparent;
}
.dragBar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.685);
    font-family: MyWebFontThing;
}
.dragBar input {
    width: 80%;
    height: 6px;
}

.playbackNames {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.playbackNames h2 {
    margin: 0;
}
.playbackNames h3 {
    margin: 0;
}

